<span style='color: #000'>129 frames</span>	<span style='color: #900'>16,384 KB</span>	<span style='color: #090'>1,288.95 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />