/* jwpopup box style */
.jwpopup {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.jwpopup-content {
	border-radius: 10px 10px 10px 10px;
	border: 5px solid #c3023b;
    position: relative;
    background-color: #e5e5e5;
    margin: auto;
    padding: 0;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


.jwpopup-head {

}
/* 
.jwpopup-main {padding: 5px 16px;}
.jwpopup-main2 {padding: 5px 16px;}
*/

.jwpopup-main {padding-right:10px;}

.jwpopup-foot {
	 
}

/* tambahkan efek animasi */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* style untuk tombol close */
.close {
	margin-top: 7px;
	margin-right: 15px;
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
	margin-top: 0px;
	margin-right: 15px;
    color: #737272;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close2:hover, .close2:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}


.popout-background {
position: relative;
padding-left:15px;
padding-right:15px;
border-right:2px solid #cfcece;
width: 400px;  
height: 430px;
background:#ffffff;
margin-top:-10px;
border-radius: 10px 0px 0px 10px;
}

@media screen and (max-width: 600px) {
	
.popout-background {
	
padding-right:7em;
padding-left:1em;
border-right:2px solid #cfcece;
width: 515px;  
height: 600px;
background:#ffffff;
border-radius: 10px 10px 0px 0px;
}

}


/* pop out detail produk */

.jwpopup2 {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.jwpopup-content2 {
	border-radius: 10px 10px 10px 10px;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


.jwpopup-head {
margin-left:10px;
margin-top:10px;
margin-right:10px;
}



/* 
.jwpopup-main {padding: 5px 16px;}
.jwpopup-main2 {padding: 5px 16px;}
*/

.jwpopup-main {padding-right:10px;}

.jwpopup-foot {
	 
}

/* tambahkan efek animasi */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* style untuk tombol close */
.exit {
	margin-top: 7px;
	margin-right: 15px;
    color: #000000;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.exit:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.exit2 {
	margin-top: 0px;
	margin-right: 15px;
    color: #737272;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.exit2:hover, .close2:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.view {
	margin-top: 7px;
	margin-left: 10px;
    color: #000000;
    float: left;
    font-size: 22px;
    font-weight: bold;
}


/* pop out login */

.jwpopup3 {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.jwpopup-content3 {
	border-radius: 10px 10px 10px 10px;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* pop out login */

.jwpopup4 {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 75px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.jwpopup-content4 {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* pop out login */

.jwpopup5 {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 75px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.jwpopup-content5 {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.title-javascript {
	
	max-width: 450px;
	margin-left:10px;
    
}

.jwpopup-head {
margin-left:10px;
margin-top:10px;
margin-right:10px;
}


/* 
.jwpopup-main {padding: 5px 16px;}
.jwpopup-main2 {padding: 5px 16px;}
*/

.jwpopup-main {padding-right:10px;}

.jwpopup-foot {
	 
}

/* tambahkan efek animasi */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* style untuk tombol close */

.exit3 {
	margin-top: 6px;
	margin-right: 6px;
    color: #737272;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.exit3:hover, .close2:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.exit4 {
    margin-top: 6px;
    margin-right: 6px;
    color: #737272;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.exit4:hover, .close2:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.exit5 {
    margin-top: 6px;
    margin-right: 6px;
    color: #737272;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.exit5:hover, .close2:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}


.jwpopup6 {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 75px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
.jwpopup-content6 {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.exit6 {
    margin-top: 6px;
    margin-right: 6px;
    color: #737272;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.exit6:hover, .close2:focus {
    color: #000000;
    text-decoration: none;
}

/* -------------------- */
/*    login customer   */
/* -------------------- */





@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 2%;
    width:96%;
    margin-right: 2%
    }
}


@media (min-width: 200px) and (max-width:600px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 2%;
    width:85%;
    margin-right: 1%
    }
}


@media (min-width: 768px) {
    .omb_row-sm-offset1-3 div:first-child[class*="col-"] {
        margin-left: 3%;
    
    }
}

@media (min-width: 200px) and (max-width:600px) {
    .omb_row-sm-offset1-3 div:first-child[class*="col-"] {
        margin-left: 7%;
    
    }
}



@media (min-width: 768px) {
    .omb_row-sm-offset2-3 div:first-child[class*="col-"] {
        margin-left: 2%;
    }
}




@media (min-width: 768px) {
    .omb_row-sm-offset3-3 div:first-child[class*="col-"] {
        margin-left: 10%;
    }
}

@media (min-width: 200px) and (max-width:600px) {
    .omb_row-sm-offset3-3 div:first-child[class*="col-"] {
        margin-left: 14%;
    }
}



@media (max-width: 500px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 0%;
    }
}

@media (max-width: 767px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 10%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
  
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.2em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

 .omb_forgotPwd {
    margin-left:275px;
    margin-top:-35px;
    font-weight: bold;
  }
    
@media (max-width:600px) {
   .omb_forgotPwd {
    margin-left:40px;
    
  } 
}

 .omb_forgotPwd2 {
        text-align: right;
    margin-right:-130px;
    margin-top:-35px;
    font-weight: bold;
  }


@media (min-width: 200px) and (max-width:600px) {
     .omb_forgotPwd2 {
        text-align: right;
    margin-right:30px;
    margin-top:-35px;
    font-weight: bold;
  }
}

<style>
/* The checker */
.checker {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checker input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checker:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checker input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checker input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checker .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>







